// Blue

$blue-01-light: #668CD4;
$blue-01: #555FB6;
$blue-01-dark: #3E49A4;

// Red

$red-01-light: #FAAAAE;
$red-01: #F98489;
$red-01-dark: #FB747C;

// Yellow

$yellow-01-light: #FDE3D7;
$yellow-01: #FFDAC5;
$yellow-01-dark: #FEC5B9;

// Greyscale

$black: #020A1C;
$grey-01: #111B31;
$grey-02: #2C3750;
$grey-03: #4D5871;
$grey-04: #788195;
$grey-05: #A7B0C3;
$grey-06: #D1D8E8;
$grey-07: #DFE5F0;
$grey-08: #F0F0F0;
$white-02: #F8F8F8;
$white-01: #FDFDFD;
$white-00: #FFFFFF;

@mixin mainFont($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file + '.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }
}

@mixin robotoFont($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file + '.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

@include mainFont('GreycliffCF', '/assets/fonts/GreycliffCF-Regular');
@include mainFont('GreycliffCF-Bold', '/assets/fonts/GreycliffCF-Bold');
@include mainFont('GreycliffCF-DemiBold', '/assets/fonts/GreycliffCF-DemiBold');
@include mainFont('GreycliffCF-Light', '/assets/fonts/GreycliffCF-Light');
@include robotoFont('RobotoSlab-Bold', '/assets/fonts/RobotoSlab-Bold');

// Fonts

$font-main: 'GreycliffCF', sans-serif;
$font-bold: 'GreycliffCF-Bold', sans-serif;
$font-demi-bold: 'GreycliffCF-DemiBold', sans-serif;
$font-light: 'GreycliffCF-Light', sans-serif;
$roboto-slab-font-bold: 'RobotoSlab-Bold', sans-serif;