@import './styles/vars';

.panel-footer {
  padding: 0 15px;
  border: none;
  text-align: right;
  background-color: $white-00;
}

.sv_custom_header {
  display: none;
}

.sv_main {
  font-family: $font-main;
  background-color: $white-00;

  & .sv_container { 
    padding: 70px 56px;
    max-width: 1300px;
    margin: 0 auto;

    & .sv_header {
      padding: 0 1em;

      & .sv_header__text {
        font-family: $font-light;
        color: $grey-02;
        font-weight: 200;
        width: 100% !important;

        h5 {
          font-size: 18px;
          line-height: 30px;
          font-family: $font-main;
          font-weight: 400;
        }
      }      
    }    

    & .sv_body {
      padding: 0;
      border: none;
    }
  }
  
}

.sv_main .sv_p_root {
  .sv_row {
    background-color: $white-00 !important;
    border: none;  
  }
}

.sv_main .sv_container .sv_body .sv_p_root table td {
  padding: 0;
}

.sv_qstn .sq-root {
  display: block;
  margin-bottom: 30px;
}

.sv_qstn .sv-q-col-1, .sv-question .sv-q-col-1 {
  display: block !important;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q {
  overflow: inherit;
}

.sq-item {
  padding: 30px 65px 30px 48px;
  max-width: 537px;
  height: 77px;
  width: 537px;
  border-radius: 3px;
  background-color: $white-00;
  box-shadow: 2px 2px 22px 2px #EFEFEF;
  margin-top: 16px;
  transition: box-shadow .2s linear;

  &:hover {
    cursor: pointer;
    box-shadow: 2px 2px 32px 2px #E7E7E7;
  }

  & .sq-label {
    line-height: 18px;
    color: $grey-03;
    margin: 0;

    & .sv_q_radiogroup_control_item:hover {
      cursor: pointer;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.sq-root-cb {
  .sq-item {
    padding: 11px 11px 13px 11px;
    max-width: 537px;
    height: 40px;
    width: 541px;
    border-radius: 3px;
    background-color: $white-00;
    margin-top: 9px;  
    box-shadow: none;

    &.sv-q-col-1 {
      border: 1px solid #DFDFDF;
      border-radius: 3px;
      background-color: $white-02;
  
      .sq-label {
        font-family: $font-demi-bold;
        color: $grey-03;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 18px; 
        
        .sv_q_checkbox_control_label {
          margin-left: 4px;
        }

        .sv_q_checkbox_control_item {
          height: 15px !important;
          width: 15px !important;
          margin-top: -4px !important;
        }
      }

      &.checked {
        border: 1px solid $grey-08;
        border-radius: 3px;
        background-color: $white-00;

        .sq-label {
          color: $blue-01;
        }
      }
    }
  }
}

.question_cell {
  color: $grey-01;
  font-family: $font-demi-bold;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}

.question_input {
  height: 42px !important;
  width: 539px !important;
  border: 1px solid #DFDFDF !important;
  border-radius: 3px !important;
  background-color: $white-00 !important;
  color:$grey-01;
  font-family: $font-main;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: -20px;
}

.sv_matrix_cell {
  background-color: $white-02;
  border: 2px solid $grey-08;
  padding: 11px 10px 11px 63px !important;  

  &:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-radius: 3px;
    padding-right: 63px !important;
  }
  &:not(:last-child) {
    border-right: 2px solid $white-02;
  }

  .sq-item {
    padding: 0;
    max-width: 26px;
    max-height: 26px;
    border-radius: 50%;
    border: 1px solid $grey-05;
    box-shadow: none;
    position: relative;
    margin-top: 0;
    background-color: $white-02;

    &.sv_q_radiogroup_inline::after {
      content: attr(data-after);
      position: absolute;
      top: 2px;
      left: 10.5px;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0;
      line-height: 21px;
      text-align: center;
      font-family: $font-main;
      color: $grey-05;
    }

    .sq-label {
      height: 27px;

      .sv_q_radiogroup_control_item {
        margin-right: 0 !important;
        vertical-align: baseline !important;
        visibility: hidden;
        width: 27px !important;
        height: 27px !important;
      }
    }

    &.checked {
      background-color: $blue-01;
      border: 1px solid $blue-01;

      &::after {
        color: $white-00;
      }
    }
  }
}

.sv_matrix_cell_header {
  display: none;
}

.sq-title {
  font-family: $font-demi-bold;
  font-size: 18px;
  padding: 50px 0 30px 0;
  margin: 0;
  color: $grey-01;
  position: relative;

  &::before {
    content: attr(data-before);
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    font-family: $roboto-slab-font-bold;
    letter-spacing: 0;
    line-height: 18px;
    color: $blue-01-light;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    width: calc(100% - 20px);
    background-color: #EEEEEE;
  }  
}

span.sv_q_required_text {
  color: $red-01-dark;
}

.sq-label {
  margin-left: 30px;
}

.noUi-target {
  max-width: 540px;
  border-radius: 3px;
  height: 6px;
  border: none;
  margin-left: -20px;
}

.noUi-base {
  border-radius: 3px;
  background-color: $grey-08;
  height: 6px;
}

.noUi-connect {
  width: auto;
  border-radius: 3px;
  background-color: $yellow-01-dark;
}

.noUi-tooltip {
  background: url('./assets/images/slider-label.svg') no-repeat;
  border: none;
  width: 58px;
  height: 33px;
  color: $yellow-01-dark;
  font-size: 14px;
}

.noUi-horizontal .noUi-handle {
  height: 24px;
  width: 24px;
  background-color: $white-00;
  box-shadow: 0 0 4px 0 #DDDFE1;
  border-radius: 50%;
  top: -9px;

  &::before, &::after {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

.noUi-pips-horizontal {
  left: 5px;
}

.noUi-marker {
  display: none;
}

.noUi-value {
  font-size: 12px;
  line-height: 14px;
}
