@font-face {
  font-family: "GreycliffCF";
  src: url("./assets/fonts/GreycliffCF-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF-Bold";
  src: url("./assets/fonts/GreycliffCF-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF-DemiBold";
  src: url("./assets/fonts/GreycliffCF-DemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GreycliffCF-Light";
  src: url("./assets/fonts/GreycliffCF-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoSlab-Bold";
  src: url("./assets/fonts/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.panel-footer {
  padding: 0 15px;
  border: none;
  text-align: right;
  background-color: #FFFFFF;
}

.sv_custom_header {
  display: none;
}

.sv_main {
  font-family: "GreycliffCF", sans-serif;
  background-color: #FFFFFF;
}
.sv_main .sv_container {
  /* padding: 70px 56px; */
  max-width: 1300px;
  margin: 0 auto;
}
.sv_main .sv_container .sv_header {
  padding: 0 1em;
}
.sv_main .sv_container .sv_header .sv_header__text {
  font-family: "GreycliffCF-Light", sans-serif;
  color: #2C3750;
  font-weight: 200;
  width: 100% !important;
}
.sv_main .sv_container .sv_header .sv_header__text h5 {
  font-size: 18px;
  line-height: 30px;
  font-family: "GreycliffCF", sans-serif;
  font-weight: 400;
}
.sv_main .sv_container .sv_body {
  padding: 0;
  border: none;
}

.sv_main .sv_p_root .sv_row {
  background-color: #FFFFFF !important;
  border: none;
}

.sv_main .sv_container .sv_body .sv_p_root table td {
  padding: 0;
}

.sv_qstn .sq-root {
  display: block;
  margin-bottom: 30px;
}

.sv_qstn .sv-q-col-1, .sv-question .sv-q-col-1 {
  display: block !important;
}

.sv_main .sv_container .sv_body .sv_p_root .sv_q {
  overflow: inherit;
}

.sq-item {
  padding: 30px 65px 30px 48px;
  max-width: 537px;
  height: 77px;
  width: 537px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 22px 2px #EFEFEF;
  margin-top: 16px;
  transition: box-shadow 0.2s linear;
}
.sq-item:hover {
  cursor: pointer;
  box-shadow: 2px 2px 32px 2px #E7E7E7;
}
.sq-item .sq-label {
  line-height: 18px;
  color: #4D5871;
  margin: 0;
}
.sq-item .sq-label .sv_q_radiogroup_control_item:hover {
  cursor: pointer;
}
.sq-item .sq-label:hover {
  cursor: pointer;
}

.sq-root-cb .sq-item {
  padding: 11px 11px 13px 11px;
  max-width: 537px;
  height: 40px;
  width: 541px;
  border-radius: 3px;
  background-color: #FFFFFF;
  margin-top: 9px;
  box-shadow: none;
}
.sq-root-cb .sq-item.sv-q-col-1 {
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  background-color: #F8F8F8;
}
.sq-root-cb .sq-item.sv-q-col-1 .sq-label {
  font-family: "GreycliffCF-DemiBold", sans-serif;
  color: #4D5871;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 18px;
}
.sq-root-cb .sq-item.sv-q-col-1 .sq-label .sv_q_checkbox_control_label {
  margin-left: 4px;
}
.sq-root-cb .sq-item.sv-q-col-1 .sq-label .sv_q_checkbox_control_item {
  height: 15px !important;
  width: 15px !important;
  margin-top: -4px !important;
}
.sq-root-cb .sq-item.sv-q-col-1.checked {
  border: 1px solid #F0F0F0;
  border-radius: 3px;
  background-color: #FFFFFF;
}
.sq-root-cb .sq-item.sv-q-col-1.checked .sq-label {
  color: #555FB6;
}

.question_cell {
  color: #111B31;
  font-family: "GreycliffCF-DemiBold", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  padding-top: 40px !important;
  padding-bottom: 20px !important;
}

.question_input {
  height: 42px !important;
  width: 539px !important;
  border: 1px solid #DFDFDF !important;
  border-radius: 3px !important;
  background-color: #FFFFFF !important;
  color: #111B31;
  font-family: "GreycliffCF", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  margin-top: 10px;
  margin-bottom: -20px;
}

.sv_matrix_cell {
  background-color: #F8F8F8;
  border: 2px solid #F0F0F0;
  padding: 11px 10px 11px 63px !important;
}
.sv_matrix_cell:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-radius: 3px;
  padding-right: 63px !important;
}
.sv_matrix_cell:not(:last-child) {
  border-right: 2px solid #F8F8F8;
}
.sv_matrix_cell .sq-item {
  padding: 0;
  max-width: 26px;
  max-height: 26px;
  border-radius: 50%;
  border: 1px solid #A7B0C3;
  box-shadow: none;
  position: relative;
  margin-top: 0;
  background-color: #F8F8F8;
}
.sv_matrix_cell .sq-item.sv_q_radiogroup_inline::after {
  content: attr(data-after);
  position: absolute;
  top: 2px;
  left: 10.5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 21px;
  text-align: center;
  font-family: "GreycliffCF", sans-serif;
  color: #A7B0C3;
}
.sv_matrix_cell .sq-item .sq-label {
  height: 27px;
}
.sv_matrix_cell .sq-item .sq-label .sv_q_radiogroup_control_item {
  margin-right: 0 !important;
  vertical-align: baseline !important;
  visibility: hidden;
  width: 27px !important;
  height: 27px !important;
}
.sv_matrix_cell .sq-item.checked {
  background-color: #555FB6;
  border: 1px solid #555FB6;
}
.sv_matrix_cell .sq-item.checked::after {
  color: #FFFFFF;
}

.sv_matrix_cell_header {
  display: none;
}

.sq-title {
  font-family: "GreycliffCF-DemiBold", sans-serif;
  font-size: 18px;
  padding: 50px 0 30px 0;
  margin: 0;
  color: #111B31;
  position: relative;
}
.sq-title::before {
  content: attr(data-before);
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 12px;
  font-weight: bold;
  font-family: "RobotoSlab-Bold", sans-serif;
  letter-spacing: 0;
  line-height: 18px;
  color: #668CD4;
}
.sq-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: calc(100% - 20px);
  background-color: #EEEEEE;
}

span.sv_q_required_text {
  color: #FB747C;
}

.sq-label {
  margin-left: 30px;
}

.noUi-target {
  max-width: 540px;
  border-radius: 3px;
  height: 6px;
  border: none;
  margin-left: -20px;
}

.noUi-base {
  border-radius: 3px;
  background-color: #F0F0F0;
  height: 6px;
}

.noUi-connect {
  width: auto;
  border-radius: 3px;
  background-color: #FEC5B9;
}

.noUi-tooltip {
  background: url("./assets/images/slider-label.svg") no-repeat;
  border: none;
  width: 58px;
  height: 33px;
  color: #FEC5B9;
  font-size: 14px;
}

.noUi-horizontal .noUi-handle {
  height: 24px;
  width: 24px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 #DDDFE1;
  border-radius: 50%;
  top: -9px;
}
.noUi-horizontal .noUi-handle::before, .noUi-horizontal .noUi-handle::after {
  display: none;
}
.noUi-horizontal .noUi-handle:hover {
  cursor: pointer;
}

.noUi-pips-horizontal {
  left: 5px;
}

.noUi-marker {
  display: none;
}

.noUi-value {
  font-size: 12px;
  line-height: 14px;
}

/*# sourceMappingURL=App.css.map */
